#container{
    display: flex;
    width: 160px;
    height: 160px;
    flex-direction: column;
}
.row{
    flex: 1;
    display: flex;
}
.column{
    flex: 1;
    background-color: lightgray;
    border: 1px gray solid;
}

